<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liste des grandes capitales du monde</title>
</head>
<body>

    <header>
        <h1>Fuseaux horaires des capitales:</h1>
    </header>
    <main>
        <ul>
            <li><button><a href="/city/paris">Paris</a></button></li><br>
            <li><button><a href="/city/londres">Londres</a></button></li><br>
           <li><button><a href="/city/washington">Washington</a></button></li><br>
           <li><button><a href="/city/beijing">Beijing</a></button></li><br>
           <li><button><a href="/city/moscou">Moscou</a></button></li><br>
           <li><button><a href="/city/tokyo">Tokyo</a></button></li><br>
        </ul>
    </main>
    <footer>
        © 2019 O'clock
    </footer>
    <style>h1{background-color:gray;color:orange;font-size:2rem;padding:1rem;}button{border:2px solid orange; background-color:white;padding:0.8rem;border-radius:1.5rem;}a{text-decoration:none;font-size:1.2rem;color:gray;}</style>
</body>
</html>